body {
    background: #ddd;
    margin: 1rem;
    padding: 1rem;
    max-width: 500px;
    margin: 2rem auto;
    font-family: "Open Sans", sans-serif;
  }
  
  nav {
      border-bottom: 2px solid orange;
  }
  
  ol {
      padding-left: 0;
  }
  
  .crumb {
      margin-right: 2em;
      display: inline;
  }
  
  a {
      color: orange;
  }
  
  a:visited {
      color: crimson;
  }
  
  
  input {
      display: block;
  }
  
  img {
      max-width: 300px;
  }
  
  .headerbtn {
      background-color: #afa84c; /* Green */
      border: none;
      color: rgb(255, 255, 255);
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
  }

 /* CSS for the card layout */
.card {
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* CSS for specific IDs */
  #sequencediv {
    background-color: #e1f2fb;
  }
  
  #weightdiv {
    background-color: #eaf6e9;
  }
  
  #shippingdiv {
    background-color: #ffe6cc;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }